{{ ansible_managed | comment }}                                                                                                                                                                                                               

[Unit]
Description=Prometheus syslogng Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/syslogng-exporter --telemetry.address=":9105"
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=syslogng-exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
